<%= form_for(@guest) do |f| %>
  <% if @guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% @guest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	

  <p>
    <%= f.label :imie, "Imie" %><br>
    <%= f.text_field :imie %>
  </p>
 
  <p>
    <%= f.label :nazwisko, "Nazwisko" %><br>
    <%= f.text_field :nazwisko %>
  </p>
  
  <p>
    <%= f.label :numer, "Numer" %><br>
    <%= f.text_field :numer %>
  </p>
  
  <p>
    <%= f.label :osobatow, "Osoba towarzysząca" %><br>
    <%= f.text_field :osobatow %>
  </p>
 <br> 
  <p>
    <%= f.submit class: 'btn btn-info custom' %>
 </p>
 
<% end %>
