<p id="notice"><%= notice %></p>

<h1>Goście</h1>
<br>
<h4><p style="text-indent: 6em;"><%= link_to 'Nowy Gość', new_guest_path %></p></h4>
<br>
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Numer</th>
      <th>Osoba towarzysząca</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.imie %></td>
        <td><%= guest.nazwisko %></td>
        <td><%= guest.numer %></td>
        <td><%= guest.osobatow %></td>
        <td><%= link_to 'Pokaż', guest %></td>
        <td><%= link_to 'Edytuj', edit_guest_path(guest) %></td>
        <td><%= link_to 'Usuń', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


