<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<br>
<p>
  <strong>Imie:</strong>
  <%= @guest.imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @guest.nazwisko %>
</p>

<p>
  <strong>Numer:</strong>
  <%= @guest.numer %>
</p>

<p>
  <strong>Osoba towarzysząca:</strong>
  <%= @guest.osobatow %>
</p>
<br>
<p style="text-indent: 6em;">
<%= link_to 'Edytuj', edit_guest_path(@guest) %> |
<%= link_to 'Wstecz', guests_path %>
</p>