<menu class="menu">

  <nav>
    <% if logged_in? %>
    <ul class="menu">
        <li><a class="active"><%= link_to "Home", root_path %></a></li>
        <li><a class="active"><%= link_to "Goście", guest_path %></a></li>
        <li><a class="active"><%= link_to "Wesele", wedding_path %></a></li>
        <li><a class="active"><%= link_to "Kościoł", church_path %></a></li>
        <li><a class="active"><%= link_to "Pan Młody", groom_path %></a></li>
        <li><a class="active"><%= link_to "Panna Młoda", bride_path %></a></li>
      </ul>
    <% end %>
  </nav>
</footer>
