
  <% if logged_in? %>
    <ul class="topnav">
        <li><%= link_to "Goście", guests_path %></li>
        <li><%= link_to "Wesele", wedding_path %></li>
        <li><%= link_to "Kościoł", church_path %></li>
        <li><%= link_to "Pan Młody", groom_path %></li>
        <li><%= link_to "Panna Młoda", bride_path %></li>
      </ul>
  <% end %>
